/* @import url(//db.onlinewebfonts.com/c/088f292cf151a6e496fc8cdc5441b3e3?family=Lovelo); */
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat&family=Raleway:wght@300&display=swap");

/* .button-div {
  width: 20rem;
  text-align: center;
  position: stic;
} */
.search-btn-container {
  background-color: rgb(94, 225, 230);
  display: grid;
  justify-items: center;
  height: 15vh;
}

.search-btn {
  box-shadow: inset 0px 0px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border-radius: 10px;
  border: 3px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-family: Trebuchet MS;
  font-size: 15px;
  padding: 6px 34px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #ffffff;
  margin-top: 10px;
  margin-bottom: 30px;
}
.search-btn:hover {
  outline: none;
  opacity: 0.4;
  cursor: pointer;
}
.search-btn:focus {
  outline: none;
  opacity: 0.6;
}

.logo-and-deck-container {
  height: 92vh;
  background-color: rgb(94, 225, 230);
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.deck-logo {
  width: 300px;
  max-width: 300px;
  height: 130px;
  min-height: 130px;
  display: flex;
  align-self: center;
  overflow: hidden;
  margin-bottom: 0.1px;
  padding: 0px;
}

.swipe-p-top {
  text-shadow: 1px 1px 2px rgb(22, 26, 27);
  color: white;
  font-size: 22px;
  margin-top: 0.1px;
  margin-bottom: 0.1px;
}

.swipe-p-bottom {
  text-shadow: 1px 1px 2px rgb(22, 26, 27);
  color: white;
  font-size: 22px;
  margin-top: 0.1px;
  margin-bottom: 0.1px;
}

.player-h3 {
  text-shadow: 1px 1px 2px rgb(22, 26, 27);
  /* font-family: "Lovelo", sans-serif; */
  color: whitesmoke;
  font-size: 30px;
  background: #6ac3ea;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid #0000008a;
  border-radius: 20px;;
}

.deck-page-container {
  background-color: rgb(94, 225, 230);
  height: 85vh;
  width: 100vw;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.deck-container {
  background-color: rgb(92, 225, 230, 0.88);
  height: 75vh;
  width: 100vw;
  background-position: center;
  display: flex;
  align-items: center;
}
