/* .button-div {
  width: 20rem;
  text-align: center;
  position: stic;
} */
.search-btn {
  width: auto;
  border: initial;
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.search-btn:hover {
  outline: none;
  opacity: 0.4;
  cursor: pointer;
}
.search-btn:focus {
  outline: none;
  opacity: 0.6;
}