.selcted {
    color: tomato;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    margin-top: 10px;
    margin-bottom: 10px;
  }

  li {
      background-color: rgb(182, 201, 201);
      margin: 5px;
      flex-wrap: wrap;
  }