body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  padding: .77rem 0;
  background-color: #ffffff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  color: #42bff5;
}

h1 .highlight {
  color: #FF5864;
}

h1 .highlight2 {
  color: #FF655B;
}

h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #42bff5;
}
